/*---------------Employee Section---------------*/
.employeeSection{
    background: url("../images/bg1.jpg");
    background-size: cover;

}
.employeeSection-content {
    margin-left: 275px;
}

.servletList {
    margin-left: 275px;
}

/*-----Customer Records-----*/
.customerRecords {
    /*      Added (11/28)  */
    background-image: url("../images/bg1.jpg");
    height: 110vh;
    background-size: cover;
}

.customerRecords-content{
    /*      Added (11/28)  */
    height: 50vh;
    overflow: scroll;
    margin-left: 275px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}


.customerRecords-content h1 {
    /*      Added (11/28)  */
    position: center;
}


/*-----Employee Records-----*/
.employeeRecords {
    /*      Added (11/28)    */
    background-image: url("../images/bg1.jpg");
    height: 110vh;
    background-size: cover;
}

.employeeRecords-content{
    /*      Added (11/28)  */
    height: 50vh;
    overflow: scroll;
    margin-left: 275px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

.employeeRecords-content h1 {
    /*       Added (11/28)   */
    position: center;
}

/*-----Inventory-----*/
.inventory {
    /*       Added (11/28)   */
    background-image: url("../images/bg1.jpg");
    height: 110vh;
    background-size: cover;
}

.inventory-content {
    /*       Added (11/28)   */
    height: 50vh;
    overflow: scroll;
    margin-left: 275px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

.inventory-content h1 {
    /*       Added (11/28)   */
    position: center;
}

/*-----Jobs for Bid-----*/
.jobsForBid {
    /*       Added (11/28)   */
    background-image: url("../images/bg1.jpg");
    height: 110vh;
    background-size: cover;
}

.jobsForBid-content {
    /*       Added (11/28)   */
    height: 50vh;
    overflow: scroll;
    margin-left: 275px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

/*---Monthly Statement Form----*/
.monthlyStatement {
    /*       Added (11/28)   */
    background-image: url("../images/bg1.jpg");
    height: 110vh;
    background-size: cover;
}

.monthlyStatement-container{
    /*       Added (11/28)   */
    height: 50vh;
    overflow: scroll;
    margin-left: 275px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

#monthlyStatement\ topAddress{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 75%;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;

}

#image{
    width: 100px;
}

h1 {
    text-align: center;
}

#monthlyStatement\ bottom{
    text-align: right;
    width: 75%;
}

#monthlyStatement\ finePrint{
    font-size: smaller;
    text-align: center;
}

/*-----Order Records-----*/
.orderRecords{
    /*      Added (11/28)    */
    background-image: url("../images/bg1.jpg");
    height: 110vh;
    background-size: cover;
}

.orderRecords-content{
    /*       Added (11/28)   */
    height: 50vh;
    overflow: scroll;
    margin-left: 275px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

/*-----Sale Receipt-----*/
.saleReceipt{
    /*      Added (11/28)    */
    background-image: url("../images/bg1.jpg");
    height: 110vh;
    background-size: cover;
}

.saleReceipt-container{
    /*       Added (11/28)   */
    height: 50vh;
    overflow: scroll;
    margin-left: 275px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

table {
    border-collapse: collapse;
    width: 75%;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;

}

th {
    height: 50px;
}

#bottomTable td {
    width: 40px;
}

/*-----Sale Summary-----*/
.saleSummary{
    /*      Added (11/28)    */
    background-image: url("../images/bg1.jpg");
    height: 110vh;
    background-size: cover;
}

.saleSummary-content{
    /*       Added (11/28)   */
    height: 50vh;
    overflow: scroll;
    margin-left: 275px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

#saleSummaryTotal{
    border-collapse: collapse;
    border: 2px solid black;
}

#saleSummaryTotal tr{

}

#saleSummaryTotal td{
    width: 50%;
    text-align: right;
}

/*----------------------Looping Table----------------------*/
#recordTable {
    /*border-style: solid;*/
    border-collapse: collapse;
}

#recordTable tr {
    border-spacing: 5px;
    /*padding-bottom: 20px;*/
}

#recordTable, td {
    border: 1px solid black;
}