<!----hold the values for the drop-down Job Position list---->
<label>
    <select name="jobPosition">
        <option value=''>--Select Position--</option>
        <option value="0">President or CEO</option>
        <option value="1">VP or CFO</option>
        <option value="2">Sales/Design Manager</option>
        <option value="3">Store Manager</option>
        <option value="4">Office Manager</option>
        <option value="5">Sales & Design Associate</option>
        <option value="6">Sales/Design Associate/Scheduling</option>
        <option value="7">Cabinet/Appliance/Bathroom Technician</option>
        <option value="8">Deliveries and Installations</option>
        <option value="9">Deliveries, Installations/Sales</option>
        <option value="10">Deliveries, Installations and Warehousing</option>
        <option value="11">Delivery and Warehouse</option>
        <option value="12">Sales Associate</option>
    </select>
</label>