<!----hold the values for the drop-down Pay Rate list---->
<label>
    <select name="payRate">
        <option value=''>--Select Position--</option>
        <option value="0">45512</option>
        <option value="1">45512</option>
        <option value="2">45512</option>
        <option value="3">45512</option>
        <option value="4">45512</option>
        <option value="5">45512</option>
        <option value="6">45512</option>
        <option value="7">45512</option>
        <option value="8">45512</option>
        <option value="9">45512</option>
        <option value="10">45512</option>
        <option value="11">45512</option>
        <option value="12">45512</option>
        <option value="13">45512</option>
        <option value="14">45512</option>
        <option value="15">45512</option>
        <option value="16">45512</option>
        <option value="17">45512</option>
        <option value="18">45512</option>
        <option value="19">45512</option>
        <option value="20">45512</option>
        <option value="21">45512</option>
        <option value="22">45512</option>
        <option value="23">45512</option>
        <option value="24">45512</option>
        <option value="25">45512</option>
        <option value="26">45512</option>
        <option value="27">45512</option>
        <option value="28">45512</option>
        <option value="29">45512</option>
        <option value="30">45512</option>
        <option value="31">45512</option>
        <option value="32">45512</option>
        <option value="33">45512</option>
        <option value="34">45512</option>
        <option value="35">45512</option>
        <option value="36">45512</option>
        <option value="37">45512</option>
        <option value="38">45512</option>

    </select>
</label>
